body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

.header{
display:flex;
justify-content:space-between;
padding:10px;
background:#2563eb;
color:white;
}

.container{
display:flex;
}

.soal-area{
width:70%;
padding:20px;
}

.nav-area{
width:30%;
background:#eee;
padding:10px;
}

#navSoal{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:8px;
}

.nav{
padding:10px;
border:1px solid #999;
text-align:center;
cursor:pointer;
transition:0.2s;
}

.nav:hover{
transform:scale(1.1);
}

.belum{background:white;}
.jawab{background:#22c55e;color:white;}
.lewat{background:#ccc;}

.dark{
background:#111;
color:white;
}

#splash{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
