body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

.header{
display:flex;
justify-content:space-between;
padding:10px;
background:#2563eb;
color:white;
}

.container{
display:flex;
}

.soal-area{
width:70%;
padding:20px;
}

.nav-area{
width:30%;
background:#eee;
padding:10px;
}

#navSoal{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:8px;
}

.nav{
padding:10px;
border:1px solid #999;
text-align:center;
cursor:pointer;
transition:0.2s;
}

.nav:hover{
transform:scale(1.1);
}

.belum{background:white;}
.jawab{background:#22c55e;color:white;}
.lewat{background:#ccc;}

.dark{
background:#111;
color:white;
}

#splash{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

body{

font-family:'Poppins',sans-serif;
margin:0;
background:#f1f5f9;
color:#1e293b;

}


/* TOPBAR */

.topbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 30px;

background:linear-gradient(90deg,#2563eb,#1e40af);

color:white;

}


/* HERO */

.hero{

text-align:center;

padding:40px;

}


/* CARD */

.card-container{

display:flex;

gap:20px;

justify-content:center;

flex-wrap:wrap;

}


.card{

background:white;

width:220px;

padding:25px;

border-radius:12px;

text-align:center;

text-decoration:none;

color:#1e293b;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}

.card:hover{

transform:translateY(-5px);

box-shadow:0 15px 25px rgba(0,0,0,0.2);

}


.icon{

font-size:40px;

margin-bottom:10px;

}


/* STATISTIK */

.statistik{

padding:40px;

text-align:center;

}


.stats-box{

display:flex;

justify-content:center;

gap:40px;

}


.stat{

background:white;

padding:20px;

border-radius:10px;

width:120px;

box-shadow:0 5px 10px rgba(0,0,0,0.1);

}


.stat h4{

font-size:28px;

margin:0;

}


/* SPLASH */

#splash{

position:fixed;

width:100%;

height:100vh;

background:#1e3a8a;

display:flex;

justify-content:center;

align-items:center;

color:white;

}


.loader{

margin-top:20px;

border:4px solid rgba(255,255,255,0.3);

border-top:4px solid white;

border-radius:50%;

width:40px;

height:40px;

animation:spin 1s linear infinite;

}


@keyframes spin{

0%{transform:rotate(0deg)}

100%{transform:rotate(360deg)}

}


/* FOOTER */

footer{

text-align:center;

padding:20px;

margin-top:40px;

color:#64748b;

}
